.container-fluid.chat-view
  .col.left
    .user-icon
  .col.middle.chat
    .input
      textarea(name="foo", id="")
      button Send
    .message-container
      .message-frame
        .message-list
          .message
            | {{issue.title}}
            address
              a(href="{{issue.author.url}}") {{issue.author.login}}
            time() {{issue.created_at | date:'short'}}
            p(marked="issue.body")
          .message(data-ng-repeat="comment in comments | orderObjectBy:'created_at'")
            address
              a(href="{{comment.author.url}}") {{comment.author.login}}
            time() {{comment.created_at | date:'short'}}
            p(marked="comment.body")
  .col.right.user-list
    .user
      .icon
      .name Foo Bar
      .username foobar
      .clear-both
