.container
  p {{issue.title}}
  .body(marked="issue.body")
  ol.comments
    li(data-ng-repeat="comment in comments")
      p
        a(href="{{comment.author.url}}") {{comment.author.login}}
        | @ {{comment.created_at | date:'short'}}
      .comment(marked="comment.body")
  //- pre(data-ng-bind="comments | json" style="font-size:8px;")
