doctype html
html
  head
    title #{title} - My Site
    //- link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      if user
        h1 My Site - #{user.id} 
      else 
        h1 My Site
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p Running on node with Express, Jade and Stylus
    script(type='text/javascript' src="/static/vendor/angular/angular.js")