doctype html
html
  head
    title #{title} - My Site
    //- link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      H1 My Site
    .container
      .main-content
        block content
      .sidebar
        - user
          #{JSON.stringify(user)}
        block sidebar
    footer
      p Running on node with Express, Jade and Stylus
    script(type='text/javascript' src="/static/vendor/angular/angular.js")
